@for $i from 9 through 24 {
  [class*="font#{$i}"] {
    font-size: map-get($font-sizes, $i) !important;
  }
}

.add-processing {
  position: relative;
}

.pointer:hover {
  cursor: pointer;
}
.background-secondary {
  background-color: var(--v-backgroundPage-base);
}
.background-main {
  background-color: white;
}
