@font-face {
  font-family: 'proxima_nova',Arial;
  src: url('https://stampinup-media.azureedge.net/core/fonts/proxima-nova/ProximaVara_subset.woff2') format('woff2-variations'), 
    url('https://stampinup-media.azureedge.net/core/fonts/proxima-nova/ProximaVara_subset.woff') format('woff'),
    url('https://stampinup-media.azureedge.net/core/fonts/proxima-nova/ProximaVara_subset.ttf') format('truetype');
  font-weight: 100 950;
  font-stretch: 50% 200%;
  font-style: normal;
  font-display: swap;
}

:root {
  font-size: 14px;
}

h1, .display-h1 {
  font-size: 3.429rem;
  font-weight: 300; // light
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}

h2, .display-h2 {
  font-size: 2.571rem;
  font-weight: 400; // regular
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
}

h3, .display-h3 {
  font-size: 1.643rem; /* 23px */
  font-weight: 600; // semi-bold
  text-transform: uppercase;
  line-height: 1;
}

h4 {
  font-size: 1.429rem; /* 20px */
  font-weight: 700; // bold
  text-transform: uppercase;
  line-height: 1;
}

h5 {
  font-size: 1.286rem; /* 18px */
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}

p {
  font-size: 1.143rem; /* 16px */
  line-height: normal;
}

hr {
  border-top: 1px solid var(--v-border-base);
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
  h1 { font-size: 2.857em; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.5rem; }
  h4 { font-size: 1.286rem; }
  h5 { font-size: 1.143rem; }
}

@media only screen and (max-width: 599px) {
  h1 { font-size: 2.286rem; }
  h2 { font-size: 1.429em; }
  h3 { font-size: 1.286rem; }
  h4 { font-size: 1.143rem; }
  h5 { font-size: 1rem; font-weight: 600;}
  p { font-size: 1rem; }
}

.subheader {
  font-size: map-get($font-sizes, 18) !important;
}

.fine-print {
  font-size: .8571rem;
}

.footer-link {
  color: var(--v-primary-base)!important;
  font-size: 1rem;
  display: block;
  justify-content: start;
}

.footer-link--legal {
  color: var(--v-hover-base)!important;
  font-size: .8571rem;
  text-transform: uppercase;
}

.suggestion {
  em {
    font-style: normal;
    font-weight: bold;
    color: var(--v-primary-base);
  }
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-underline {
  text-decoration: underline !important;
  &--none {
    text-decoration: none !important;
  }
}

.text-strikethrough {
  text-decoration: line-through !important;
}

.font-weight-bold.active-bolder {
  &:hover, &:focus {
    font-weight: 700 !important;
  }
}

.details, .reward-details {
  font-size: .7857rem;
  text-transform: uppercase;
  color: var(--v-greyedOut-base);
}

// default letter spacing 0px
// wide .8
.font-wide.v-btn .v-btn__content {
  letter-spacing: .05rem;
}
@media #{map-get($display-breakpoints, 'sm-and-down')}  {
  .subheader {
    font-size: map-get($font-sizes, 14) !important;
  }
}
