@font-face {
  font-family: proxima_nova;
  src: url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_scosf_thin_webfont.woff) format("woff"), url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_scosf_thin_webfont.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: proxima_nova;
  src: url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_light_webfont.eot?#iefix) format("embedded-opentype"), url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_light_webfont.woff) format("woff"), url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_light_webfont.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: proxima_nova;
  src: url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_reg-webfont.eot?#iefix) format("embedded-opentype"), url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_reg-webfont.woff) format("woff"), url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_reg-webfont.ttf) format("truetype"), url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_reg-webfont.svg#proxima_nova_rgregular) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: proxima_nova;
  src: url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_sbold-webfont.eot?#iefix) format("embedded-opentype"), url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_sbold-webfont.woff) format("woff"), url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_sbold-webfont.ttf) format("truetype"), url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_sbold-webfont.svg#proxima_nova_ltbold) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: proxima_nova;
  src: url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_bold-webfont.eot?#iefix) format("embedded-opentype"), url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_bold-webfont.woff) format("woff"), url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_bold-webfont.ttf) format("truetype"), url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_bold-webfont.svg#proxima_nova_rgbold) format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: proxima_nova;
  src: url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_light_italic_webfont.eot?#iefix) format("embedded-opentype"), url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_light_italic_webfont.woff) format("woff"), url(https://stampinup-media.azureedge.net/core/fonts/proxima-nova/proxima_nova_light_italic_webfont.ttf) format("truetype");
  font-style: italic;
}


:root {
  font-size: 14px;
}

h1, .display-h1 {
  font-size: 4rem; /* 56px */
  font-weight: 300; // light
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}

h2, .display-h2 {
  font-size: 2.857rem; /* 40px */
  font-weight: 400; // regular
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
}

h3, h4, .display-h3 {
  font-size: 1.643rem; /* 23px */
  font-weight: 700; // semi-bold
  text-transform: uppercase;
  line-height: 1;
}

h5 {
  font-size: map-get($font-sizes, 20);
  font-weight: 900; // bold
  text-transform: uppercase;
  line-height: 1;
}

h6 {
  font-size: map-get($font-sizes, 18);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}

p {
  font-size: 1.143rem;
  line-height: normal;
}

a {
  color: #00b3a8 !important;
}

hr {
  border-top: 1px solid var(--v-border-base);
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
  h1 { font-size: 3.429rem; }
  h2 { font-size: 2.286rem; }
  h3 { font-size: 1.5rem; }
  h4 { font-size: 1.5rem; }
  h5 { font-size: 1.286rem; }
  h6 { font-size: 1.143rem; }
}

@media only screen and (max-width: 599px) {
  h1 { font-size: 2.857rem; }
  h2 { font-size: 1.714rem; }
  h3 { font-size: 1.357rem; }
  h4 { font-size: 1.357rem; }
  h5 { font-size: 1.143rem; }
  h6 { font-size: 1rem; font-weight: 700;}
  p { font-size: 1rem; }
}

.subheader {
  font-size: map-get($font-sizes, 18) !important;
}

.fine-print {
  font-size: .8571rem;
}

.footer-link {
  color: var(--v-primary-base)!important;
  font-size: 1rem; 
  display: block;
  justify-content: start;
}

.footer-link--legal {
  color: var(--v-hover-base)!important;
  font-size: .8571rem; 
  text-transform: uppercase;
}

.suggestion {
  em {
    font-style: normal;
    font-weight: bold;
    color: var(--v-primary-base);
  }
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-underline {
  text-decoration: underline !important;
  &--none {
    text-decoration: none !important;
  }
}

.text-strikethrough {
  text-decoration: line-through !important;
}

.font-weight-bold.active-bolder {
  &:hover, &:focus {
    font-weight: 900 !important;
  }
}
 
.details, .reward-details {
  font-size: .7857rem;
  text-transform: uppercase;
  color: var(--v-greyedOut-base);
}

// default letter spacing 0px
// wide .8
.font-wide.v-btn .v-btn__content {
  letter-spacing: .05rem;
}
@media #{map-get($display-breakpoints, 'sm-and-down')}  {
  .subheader {
    font-size: map-get($font-sizes, 14) !important;
  }
}
