$body-font-family: proxima_nova;
@import '~vuetify/src/styles/styles.sass';
$btn-border-radius: 0;
$card-border-radius: 0;
$material-light: map-merge($material-light, (text: map-merge(map-get($material-light, 'text'), (primary: #333333))));
$font-sizes: ();
@for $i from 9 through 24 {
  $font-sizes: map-merge($font-sizes, ($i:$i * .07143rem));
}
$stepper-vertical-content-ltr-margin: -8px 0 -16px 0;
$stepper-vertical-content-padding: 0 0 16px 0;
$stepper-vertical-padding-bottom: 0;
$stepper-elevation: 0;
$stepper-content-padding: 0 0 16px 0;
